@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Salsa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

* {
  margin: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: var(--font-color);
  font-family: var(--font-style1);
}

:root {
  --background: #dbdbdb;
  --bgline: #cbcbcb50;
  --primary: #3b3486;
  --hightlight: #f67701;
  --secondary: #864af9;
  --font-color: rgb(44, 44, 44);
  --shadow: rgba(255, 255, 255, 0.3);
  --font-style1: "Nunito", sans-serif;
  --font-style2: "Jersey 10", sans-serif;
  --brightness: brightness(0.3);

  --normal-fontSize: calc(0.1vw + 2vh);
  --title-fontsize: calc(2vw + 2vh);
}

/* body & sections */
html {
  overflow-x: hidden;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background);
  /* overflow: hidden; */
  background-image: linear-gradient(
      to right,
      var(--bgline) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--bgline) 1px, transparent 1px);
  background-size: 4vh 4vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow: hidden;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #3b3486; */
}

/* Custom scroll bar */
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--hightlight);
  border-radius: 10px;
  opacity: 0.5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--hightlight);
}

/* Intro Box => */
.introBox {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
  background: var(--background);
  z-index: 9999;
  transition: 0.5s ease-in-out;
}
.introBox.remove {
  transform: translateY(-100%);
}
.introBox > .CTC {
  position: absolute;
  width: 100%;
  display: flex;
  gap: 10px;
}
.introBox > .CTC > .pulseBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--font-color);
  transform-origin: center;
}
.introBox > .CTC > .pulseBox::before,
.introBox > .CTC > .pulseBox::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 90%;
  height: 90%;
  border: 1px solid var(--font-color);
  animation: 3s pulsinglight linear infinite;
}
.introBox > .CTC > .pulseBox::after {
  animation-delay: 1.5s;
}
.introBox > .box {
  background: var(--hightlight);
  border: 3px solid var(--hightlight);
  outline: 3px solid var(--hightlight);
  width: 0%;
  height: calc(100% / 3);
  transition: 0.5s ease-in-out;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-500px);
}
.introBox > .box.moveleft {
  transform: translateX(0px);
  width: 100%;
}
.introBox > .box.moveright {
  transform: translateX(110%);
}
.introBox > .box > .counter {
  color: var(--background);
  font-family: var(--font-style2);
  font-size: calc(15vw + 2vh);
}
@keyframes pulsinglight {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(2.1);
    opacity: 0;
  }
}
/* <= Intro Box */

/* nav Box starts */
nav {
  /* border: 1px solid white; */
  position: fixed;
  inset: 0;
  width: 100%;
  height: 40px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  transition: 0.5s ease-in-out;
  z-index: 2;
}
nav.hold {
  transform: translate(0, -100px);
}
nav.unhold {
  transform: translate(0, 0);
}
.hugeTitle {
  font-size: calc(0.5vw + 2vh);
  font-weight: bolder;
}
.world {
  display: inline-block;
  margin: 0;
  color: var(--hightlight);
  background-clip: text;
  -webkit-background-clip: text;

  animation: 3s pulsing linear alternate infinite;
}

.switchBox {
  position: relative;
  width: 40px;
  height: 20px;
  border: 1px solid var(--font-color);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 4px;
}
.switchBox:hover {
  cursor: pointer;
}
.switchBox > span {
  color: var(--font-color);
  font-size: 12px;
}
.switchBox > .switch {
  position: absolute;
  left: 0;
  height: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--hightlight);
  border: 1px solid var(--font-color);
  transition: 0.5s ease-in-out;
}
.switchBox > .switch.on {
  left: 20px;
}
/* nav Box ends */

/* Scrollable starts */
.scrollable {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  left: 20px;
  width: 20px;
  height: 40px;
  border: 0.5px solid var(--hightlight);
  border-radius: 10px;
  mix-blend-mode: difference;
  z-index: 2;
}
.scrollable::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 10px;
  background: var(--hightlight);
  border-radius: 10px;
  animation: 3s scrolling linear alternate infinite;
}
/* Scrollable ends */

/* Image Box starts */
.intro {
  position: relative;
}
/* Image Box Ends */
.dataBox {
  position: absolute;
  /* border: 1px solid white; */
  padding: 20px;
}
.dataBox > h1 {
  font-size: var(--title-fontsize);
  padding-bottom: 30px;
}
.dataBox > p {
  font-size: var(--normal-fontSize);
}
.iconBox {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding-top: 30px;
}
.iconBox > ion-icon {
  font-size: 1.5em;
}

/* Testing */

.marquee {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--hightlight);
  z-index: 10;

  p,
  span {
    font-size: var(--title-fontsize);
    color: var(--background);
  }

  .marquee_contentBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--title-fontsize);

    .marquee_content {
      display: flex;
      align-items: center;
      gap: var(--title-fontsize);

      p {
        font-family: var(--font-style2);
      }
      span {
        rotate: 0deg;
        transition: 0.5s ease-in-out;
      }
      span.active {
        rotate: 180deg;
      }
    }
  }
}
.tank {
  position: fixed;
  inset: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: -100;
}
.lightbulb {
  position: fixed;
  height: 30dvh;
  aspect-ratio: 1;
  background: var(--hightlight);
  border-radius: 30% 40% 60% 30%;
  filter: blur(100px) opacity(0.3);
  transition: 2s ease-in-out;
}
.leftBar {
  position: absolute;
  right: 0;
  top: -30px;
  height: 100%;
  width: 100px;
  background: var(--hightlight);
  z-index: 2;
}
.leftBar::before {
  content: "";
  position: absolute;
  right: 0;
  width: 100dvw;
  height: 100%;
  background: var(--hightlight);
}

.Socialcontainer{
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);

  div{
    width: 100%;
    height: 100%;
    display: flex;
  }
  .first-row{
    height: 70%;
  }
  .first-row>div:first-child{
    width: 70%;
  }
  .first-row>div:last-child{
    width: 30%;
  }
  .first-row>.col{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .second-row{
    height: 30%;
  }
  .second-row>div{
    width: 30%;
  }
  .second-row>.extra{
    width: 70%;
  }
  .first-row>.col>div,.second-row>div{
    border: 1px solid var(--font-color);
  }
  .second-row>div>div:first-child{
    border-right: 2px solid var(--font-color);
  }
}

.socialBox{
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialBox::before{
  content: '';
  position: absolute;
  width: 0%;
  height: 0%;
  border-radius: 100% 0%;
  transition: 0.5s ease-in-out;
}
.socialBox>ion-icon{
  position: absolute;
  font-size: calc(var(--title-fontsize)*2);
  color: var(--font-color);
  z-index: -5;
  top: 30px;
  right:10px;
}
.socialBox:hover::before{
  width: 100%;
  height: 100%;
  border-radius: 0%;
}
.socialBox>h3{
  position: absolute;
  font-size:calc(var(--normal-fontsize)*2);
  background: var(--hightlight);
  color: var(--background);
  padding: 0 20px 0 10px;
  inset:0;
  height: fit-content;
  width: fit-content;
  border-radius: 0 0 10px 0;
  font-family: var(--font-style2);
  letter-spacing: 2px;
}
.socialBox>a{
  text-decoration: none;
  font-size: var(--normal-fontsize);
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 0 2px;
  border-radius: 10px 0 0 0;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.5s ease-in-out;
  text-align: right;
  min-width: 100%;
  text-overflow: ellipsis;
}
.socialBox:hover a{
  background: var(--hightlight);
  color: var(--background);
  font-weight: bolder;
  padding: 0 10px;
}
.socialBox>img{
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 105%;
  transition: 0.5s ease-in-out;
  opacity: .1;
  z-index: -2;
  border-radius: 10px;
}
.socialBox:hover img{
  bottom: 0px;
  left: 0px;
  height: 105%;
  opacity: 1;
  border-radius: 0px;
}
.profile{
  width: calc(var(--title-fontsize) * 3);
  border-radius: 50%;
}
.Social-Details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  position: relative;
}
.Social-Details>.header{
  display: flex;
  background: var(--bgline);
  height: fit-content;
  gap:10px;
  padding: 10px 20px;
}
.Social-Details>.body{
  display: flex;
  height: fit-content;
  gap:10px;
  padding: 10px 20px;
}
.nameBox{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 10px;
}

/* Animations */
@keyframes scrolling {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(5px);
  }
}
@keyframes pulsing {
  from {
    filter: drop-shadow(0 0 0px var(--hightlight));
  }
  to {
    filter: drop-shadow(0 0 1px var(--hightlight));
  }
}

/* Media Query Section */

/* Laptop/Desktop */
@media screen and (min-width: 1024px) {
  .dataBox {
    padding-right: 60px;
    border-right: 0;
    right: -10px;
    width: 40%;
    /* border-radius: 20px 0 0 20px; */
  }
  .marquee_contentBox {
    margin-left: 200px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Mobile */
@media screen and (max-width: 767px) {
  .dataBox {
    border: 0;
    bottom: 10%;
  }
  .dataBox > h1 {
    font-size: 2.5em;
  }
  .marquee_contentBox {
    margin-left: 50px;
  }
  .Socialcontainer{
    width: 95%;
    height: 95%;

    .first-row{
      flex-direction: column;
    }
    .first-row>div:first-child{
      width: 100%;
      height: 75%;
    }
    .first-row>div:last-child{
      width: 100%;
      height: 25%;
      flex-direction: row;
    }
    .second-row>div{
      display: flex;
      flex-direction: column;
    }
    .second-row>div>div:first-child{
      border-right: 0px solid var(--font-color);
      border-bottom: 1px solid var(--font-color);
    }
  }
}

.effect-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  pointer-events: none; /* To make sure it doesn't interfere with mouse events */
}

.spark{
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translate(0px,-10px);
}
.spark span{
  position:absolute;
  width: 2px;
  height: 10px;
  pointer-events: none;
  transform-origin: bottom;
  overflow: hidden;
  filter: drop-shadow(0 0 10px var(--hightlight)) drop-shadow(0 0 20px var(--hightlight))
}

.spark span::before{
  content: '';
  position:absolute;
  width: 100%;
  height:100%;
  background: var(--hightlight);
  animation: animate .5s ease-in-out forwards;
}

@keyframes animate {
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(-100%);
  }
}