@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Salsa&display=swap");

* {
  margin: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: var(--font-color);
  font-family: var(--font-style1);
}

:root {
  --background: #dbdbdb;
  --bgline: #cbcbcb50;
  --primary: #3b3486;
  --hightlight: #f67701;
  --secondary: #864af9;
  --font-color: rgb(44, 44, 44);
  --shadow: rgba(255, 255, 255, 0.3);
  --font-style1: "Nunito", sans-serif;
  --font-style2: "Salsa", cursive;
}

/* body & sections */
html {
  scroll-behavior: smooth;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
  background-color: var(--background);
  overflow: hidden;
  background-image: linear-gradient(
      to right,
      var(--bgline) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--bgline) 1px, transparent 1px);
  background-size: 4vh 4vh;
}

section {
  scroll-snap-align: start;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Intro Box => */
.introBox{
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
  background: var(--background);
  z-index: 9999;
  transition: 0.5s ease-in-out;
}
.introBox.remove{
  transform: translateY(-100%);
}
.introBox>.CTC{
  position: absolute;
  width: 100%;
  display: flex;
  gap: 10px;
}
.introBox>.CTC>.pulseBox{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--font-color);
  transform-origin: center;
}
.introBox>.CTC>.pulseBox::before,.introBox>.CTC>.pulseBox::after{
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 90%;
  height: 90%;
  border: 1px solid var(--font-color);
  animation: 3s pulsinglight linear infinite;
}
.introBox>.CTC>.pulseBox::after{
  animation-delay: 1.5s;
}
.introBox>.box{
  background: var(--hightlight);
  border: 3px solid var(--hightlight);
  outline: 3px solid var(--hightlight);
  width: 0%;
  height: calc(100%/3);
  transition: 0.5s ease-in-out;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-500px);
}
.introBox>.box.moveleft{
  transform: translateX(0px);
  width: 100%;
}
.introBox>.box.moveright{
  transform: translateX(110%);
}
.introBox>.box>.counter{
  color: var(--background);
  font-family: var(--font-style2);
  font-size: calc(15vw + 2vh);;
}
@keyframes pulsinglight {
  from{
    transform: scale(1);
    opacity: 1;
  }to{
    transform: scale(2.1);
    opacity: 0;
  }
}
/* <= Intro Box */

/* nav Box starts */
nav {
  /* border: 1px solid white; */
  width: 100%;
  height: auto;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  transition: 0.5s ease-in-out;
}
nav.hold{
  transform: translate(0,-100px);
}
.hugeTitle {
  font-size: calc(0.5vw + 2vh);
  font-weight: bolder;
}
.world {
  display: inline-block;
  margin: 0;
  color: var(--hightlight);
  background-clip: text;
  -webkit-background-clip: text;

  animation: 3s pulsing linear alternate infinite;
}

.switchBox {
  position: relative;
  width: 40px;
  height: 20px;
  border: 1px solid var(--font-color);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 4px;
}
.switchBox:hover {
  cursor: pointer;
}
.switchBox > span {
  color: var(--font-color);
  font-size: 12px;
}
.switchBox > .switch {
  position: absolute;
  left: 0;
  height: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--hightlight);
  border: 1px solid var(--font-color);
  transition: 0.5s ease-in-out;
}
.switchBox > .switch.on {
  left: 20px;
}
/* nav Box ends */

/* Scrollable starts */
.scrollable{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  left: 20px;
  width: 10px;
  height: 50px;
  /* border: .5px double var(--font-color); */
  border-radius: 10px;
  animation: 3s scrolling linear alternate infinite;
}
.scrollable::before{
  content: '';
  position: absolute;
  width: 3px;
  height: 10px;
  background: var(--hightlight);
  border-radius: 10px;
  animation: 3s scrolling linear alternate infinite;
}
/* Scrollable ends */

/* Animations */
@keyframes scrolling {
  from{
    transform: translateY(-15px);
  }to{
    transform: translateY(15px);
  }
}
@keyframes pulsing {
  from {
    filter: drop-shadow(0 0 0px var(--hightlight));
  }
  to {
    filter: drop-shadow(0 0 1px var(--hightlight));
  }
}

/* Media Query Section */

/* Laptop/Desktop */
@media screen and (min-width: 1024px) {
  .imageBox {
    right: 0;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Mobile */
@media screen and (max-width: 767px) {
}
