* {
    margin: 0;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: var(--font-color);
  }
  
  :root {
    --background: black;
    --font-color: white;
  }