@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Salsa&display=swap");

* {
  margin: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: var(--font-color);
  font-family: var(--font-style1);
}

:root {
  --background: rgb(24, 24, 24);
  /* --primary: #635EE2; */
  --primary: #3b3486;
  /* --hightlight: #D3F5CF; */
  --hightlight: #f8e559;
  /* --secondary: #A8DBFA; */
  --secondary: #864af9;
  --font-color: rgb(225, 225, 225);
  --shadow: rgba(0, 0, 0, 0.3);
  --font-style1: "Nunito", sans-serif;
  --font-style2: "Salsa", cursive;
}

/* body & sections */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  overflow: hidden;
  background-image: linear-gradient(to right, #33333350 1px, transparent 1px),
    linear-gradient(to bottom, #33333350 1px, transparent 1px);
  background-size: 4vh 4vh;
}

section {
  scroll-snap-align: start;
  width: 100dvw;
  height: 100dvh;
  display: flex;
}

section > * {
  transition: 0.5s ease-in-out;
}

nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  inset: 0;
  width: 100dvw;
  height: 50px;
  padding: 0 20px;
  /* background: var(--primary); */
}

.menu,
.menu::before,
.menu::after {
  position: relative;
  width: 25px;
  height: 4px;
  background: var(--hightlight);
  z-index: 20;
  transition: all 0.5s ease-in-out;
}

.menu {
  height: 25px;
  background: transparent;
}

.menu::before,
.menu::after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: 0 10px var(--hightlight);
}

.menu::after {
  inset: 20px 0;
  box-shadow: 0 -10px var(--hightlight);
}

.menu.navOpen,
.menu.navOpen::before,
.menu.navOpen::after {
  cursor: pointer;
  rotate: 45deg;
  box-shadow: none;
}

.menu.navOpen::after,
.menu.navOpen::before {
  inset: 10px 0;
  rotate: -90deg;
}

.menu.navOpen::after {
  inset: 10px 0;
  rotate: 0deg;
}

.menu:hover {
  cursor: pointer;
}

/* nav bar */
.navLinkBox {
  position: fixed;
  right: 0;
  top: 0;
  height: 100dvh;
  width: 0;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  list-style-type: none;
  overflow: hidden;
  transform: translateX(50px);
  transition: 0.4s cubic-bezier(0.375, 0.885, 0.32, 1.275);
  z-index: 10;
}

.navLinkBoxOpen {
  background: linear-gradient(
    90deg,
    transparent,
    var(--shadow),
    var(--shadow),
    var(--background)
  );
  transform: translateX(0);
  width: 100dvw;
}

.navLinkBox > li {
  position: relative;
  width: 0;
  height: 70px;
  font-size: 1.2em;
  border-radius: 30px 0 0 30px;
  background: var(--shadow);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--i) cubic-bezier(0.375, 0.885, 0.32, 1.275);
  overflow: hidden;
}

.navLinkBox > li:hover,
.navLinkBox > li.activeNav {
  width: 320px;
}

.navLinkBox > li::before,
.navLinkBox > li.activeNav::before {
  content: "";
  position: absolute;
  right: -20%;
  top: -20%;
  width: 0;
  height: 140%;
  z-index: 1;
  filter: blur(20px);
  background: linear-gradient(
    45deg,
    var(--hightlight),
    var(--secondary),
    var(--primary)
  );
  transition: 2s cubic-bezier(0.375, 0.885, 0.32, 1.275);
}

.navLinkBox > li:hover::before,
.navLinkBox > li.activeNav::before {
  width: 130%;
}

.navLinkBox > li > a > ion-icon {
  position: absolute;
  left: 30px;
  font-size: 1.5em;
  transition: 1s cubic-bezier(0.375, 0.885, 0.32, 1.275);
}

.navLinkBox > li:hover > a > *,
.navLinkBox > li.activeNav > a > * {
  font-weight: bold;
  color: var(--background);
}

.navLinkBoxOpen > li {
  width: 300px;
}

.navLinkBoxOpen > li > * {
  z-index: 10;
}

.closeBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 1;
}
.closeBox:hover {
  cursor: no-drop;
}

.navLinkBox > li > a {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
}

.navLinkBox > img {
  position: absolute;
  left: 10px;
  bottom: 0;
  width: 60%;
  opacity: 0.1;
}

/* body & sections */

/* mainSection */
.mainSection::after,
.mainSection::before {
  content: "";
  position: absolute;
  border-radius: 200%;
  opacity: 0.6;
  filter: blur(100px);
  transform: translateY(-100px);
  width: 50%;
}

.mainSection::after {
  inset: -30% -5%;
  aspect-ratio: 3/2;
  background: var(--hightlight);
  animation: 6s moveBlobs linear infinite alternate;
}

.mainSection::before {
  inset: -30% -10%;
  aspect-ratio: 1/1;
  background: var(--secondary);
  animation: 4s moveBlobs linear infinite alternate;
}

@keyframes moveBlobs {
  from {
    transform: translateY(-50px) translateX(50px) rotate(-60deg) scale(0.8);
  }

  to {
    transform: translateY(50px) translateX(-50px) rotate(60deg) scale(1);
  }
}

.mainSection > * {
  width: 50%;
  height: 100%;
  display: flex;
}

/* imageContainer */
.imageContainer > .image {
  position: relative;
  display: flex;
  width: 50%;
  height: 50%;
  border: 3px solid var(--hightlight);
  border-left: 3px solid var(--secondary);
  border-bottom: 3px solid var(--primary);
  border-radius: 20px;
}

.imageContainer > .image > img {
  position: absolute;
  bottom: 0;
  width: 150%;
  opacity: 1;
  transform: translateX(10px);
}

.imageContainer > .image > ion-icon {
  position: absolute;
  font-size: 3em;
  animation: sway linear alternate infinite;
}

.imageContainer > .image > ion-icon:nth-child(1) {
  left: 25px;
  top: 20%;
  color: var(--secondary);
  font-size: 4em;
  animation-duration: 1.5s;
}

.imageContainer > .image > ion-icon:nth-child(2) {
  right: 15px;
  top: 20px;
  color: var(--hightlight);
  animation-duration: 2s;
}

.imageContainer > .image > ion-icon:nth-child(3) {
  right: 5%;
  top: 70%;
  color: var(--primary);
  animation-duration: 2.5s;
}

@keyframes sway {
  from {
    transform: translateY(-10px) scale(1);
  }

  to {
    transform: translateY(10px) scale(1.1);
  }
}

/* introText */
.introText {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}

.textContainer > h1 {
  position: relative;
  color: rgba(255, 255, 255, 0.1);
  font-size: 2.25em;
  letter-spacing: 2px;
  font-weight: bolder;
  font-family: var(--font-style2);
  text-shadow: 5px 5px 10px var(--shadow);
  animation: displayText 12s infinite;
  animation-delay: calc(-4s * var(--i));
}

.textContainer > h1::before {
  content: attr(data-text);
  position: absolute;
  inset: 0;
  width: 100%;
  overflow: hidden;
  color: var(--hightlight);
  border-right: 4px solid var(--hightlight);
  text-shadow: inset 1px 1px var(--hightlight),
    inset -1px -1px var(--hightlight);
  /* filter: drop-shadow(0 0 5px var(--hightlight)) drop-shadow(0 0 25px var(--hightlight)); */
  animation: writeText 4s linear infinite;
}

.textContainer > p:last-child {
  margin-top: 10px;
  text-align: justify;
}

@keyframes writeText {
  0%,
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}

@keyframes displayText {
  0% {
    display: inline-block;
  }

  33.33%,
  100% {
    display: none;
  }
}

/* introButtons */
.introButtons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

/* shinyButton */
.shinyButton {
  position: relative;
  background: var(--shadow);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  width: 150px;
  height: 35px;
  border-radius: 10px;
  /* box-shadow: 5px 5px 10px var(--shadow); */
  overflow: hidden;
  transition: 0.5s ease-in-out, filter 3s ease-in-out;
}

.shinyButton::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 30%;
  background: linear-gradient(
    45deg,
    var(--hightlight),
    var(--secondary),
    var(--primary)
  );
  border-radius: 120%;
  filter: blur(20px);
  inset: -50% 50%;
  z-index: -10;
  transition: all 1s ease-in-out, background 3s ease-in-out,
    filter 1.5s ease-in-out;
}

.shinyButton:hover {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--background);
  font-weight: bold;
  letter-spacing: 0.5px;
  filter: drop-shadow(0 0 5px var(--secondary))
    drop-shadow(0 0 50px var(--secondary));
}

.shinyButton:hover::before {
  background: linear-gradient(
    45deg,
    var(--hightlight),
    var(--secondary),
    var(--primary)
  );
  width: 100%;
  height: 100%;
  border-radius: 0;
  filter: blur(0px);
  inset: 0;
}

/* mainSection */

/* aboutMeSection */
.aboutMeSection {
  display: flex;
  padding: 20px;
  overflow: hidden;
}
.aboutMeSection > div {
  width: 100%;
  height: 100%;
  border: 0.2px solid transparent;
  transition: 1s ease-in-out;
  overflow: hidden;
}
.aboutMeSection > div > * {
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.aboutMeSection > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
}
.aboutMeSection > div:first-child > div {
  width: 100%;
  min-height: 40%;
  /* border: 0.2px solid rgba(255, 255, 255, 0.2); */
}
.imageBox {
  position: relative;
  height: 100%;
  display: flex;
}
.imageBox::before,
.imageBox::after {
  position: absolute;
  font-size: 0.6em;
}
.warpText {
  position: absolute;
  inset: 0px;
  font-weight: bold;
  color: var(--shadow);
  font-size: 400%;
  filter: drop-shadow(0 50px var(--shadow)) drop-shadow(0 50px var(--shadow))
    drop-shadow(0 50px var(--shadow)) drop-shadow(0 50px var(--shadow))
    drop-shadow(0 50px var(--shadow));
  z-index: -1;
}
.image2 {
  position: relative;
  height: 60%;
  aspect-ratio: 1/1;
  border-radius: 10px;
}
.image2 > img {
  position: absolute;
  bottom: 0;
  left: -20%;
  width: 150%;
  z-index: 5;
  /* filter: drop-shadow(30px 40px var(--shadow)); */
}
.image2 > span {
  position: absolute;
  background: var(--hightlight);
  color: #3b3486;
  font-size: 0.6em;
  padding: 0 5px;
  border-radius: 10px;
  font-weight: bolder;
  height: 9%;
  width: 38%;
  text-align: center;
}
.image2 > span:nth-child(1) {
  inset: 80% 80%;
  width: 30%;
}
.image2 > span:nth-child(2) {
  inset: 10px -10px;
}
.image2::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  border-radius: 20px 10px;
  background: linear-gradient(
    45deg,
    var(--hightlight),
    var(--secondary),
    var(--primary)
  );
}
.image2::after {
  content: "";
  position: absolute;
  inset: 10px;
  width: 50%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  opacity: 0.5;
  background: var(--hightlight);
}
.aboutMeSection > div:hover {
  border: 0.2px solid rgba(255, 255, 255, 0.5);
}
.aboutMeSection > div:nth-child(1):hover {
  border: 0.2px solid var(--hightlight);
}
.aboutMeSection > div:nth-child(2):hover {
  border: 0.2px solid var(--secondary);
}
.aboutMeSection > div:nth-child(3):hover {
  border: 0.2px solid var(--primary);
}
.aboutMeSection > div:hover > * {
  opacity: 1;
}
.introBox > .textContainer > p {
  font-size: 0.75em;
}
.introBox {
  display: flex;
}
.exnSkill{
  display: flex;
  flex-direction: column;
}
.exnSkill>*{
  width: 100%;
}
.experienceBox {
  padding: 10px;
}
.experienceBox > h1,
.skillBox > h1 {
  margin-bottom: 10px;
  border-bottom: 1px solid var(--secondary);
}
.experienceBox > .experiences > p {
  position: relative;
}
.experienceBox > .experiences > p > span {
  font-size: 0.8em;
  font-weight: bold;
  padding: 0 0 0 5px;
}
.experienceBox > .experiences > p > span > a {
  text-decoration: none;
  color: var(--hightlight);
}
.experiences {
  /* border: 1px solid white; */
  height: 100%;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  cursor: pointer;
  height: 5px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: rgba(128, 128, 128, 0.3);
  transition: 0.5s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.593);
  cursor: pointer;
}
.date {
  display: inline-block;
  color: var(--secondary);
  width: 100px;
  border-right: 1px solid var(--secondary);
  margin-right: 0px;
}
.experienceBox > .experiences > p > small {
  font-size: 0.7em;
  margin-left: 25px;
}
.skillBox {
  padding: 0 10px;
}
.skill {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.skill > .skillProgress {
  position: relative;
  border: 1px solid white;
  width: 75%;
  height: 20px;
  padding: 0 10px;
  border-radius: 20px;
}
.skill > .skillProgress > .skillPoint {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  left: 0;
  width: var(--progress);
  height: 100%;
  background: linear-gradient(
    -45deg,
    var(--hightlight),
    var(--secondary),
    var(--primary)
  );
  border-radius: 20px;
}
.skill > .skillProgress > .skillPoint::before {
  content: attr(data-progress);
  font-size: 0.75em;
  position: relative;
  padding: 10px;
}
.languages {
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid var(--primary); */
  padding: 7.5px 0;
  border-radius: 25px;
}
.languages > span {
  width: 30%;
  height: max-content;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  font-size: 0.75em;
}

.aboutMeSection > div:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
}
.card {
  position: relative;
  width: 100%;
  height: 175px;
  border: 1px solid rgba(255, 255, 255, 0.107);
  border-radius: 20px;
  backdrop-filter: blur(5px);
}
.card::before,
.card::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  inset: 50%;
  background: var(--primary);
  border-radius: 100%;
  filter: blur(50px);
}
.card::after {
  inset: -10%;
  filter: blur(100px);
  background: var(--secondary);
}
.card:hover {
  /* rotate: x 20deg; */
  transform: perspective(100px);
}
.aboutMeLast{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.languagesIDid,.appsIUsed{
  /* height: 50%; */
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
}
.languagesIDid>p,.appsIUsed>p{
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  gap: 3px;
  font-size: 0.8em;
  padding: 3px 5px;
  box-shadow: 0 0 10px var(--shadow);
  border-radius: 10px;
}
.clan{
  background: linear-gradient(45deg, transparent, transparent,transparent);
  transition: 0.5s ease-in-out,border 0s ease-in-out;
}
.clan:hover{
  background: linear-gradient(45deg, var(--primary), var(--secondary),var(--hightlight));
  border: 1px solid var(--background);
}
/* aboutMeSection */

/* workSection */
.myWorksSection {
  overflow-y: scroll;
  position: relative;
  display: flex;
  width: 100dvw;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.workCard {
  scroll-snap-align: start;
  border: 1px solid rgba(255, 255, 255, 0.05);
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  opacity: .5;
}
.workCard:hover {
  opacity: 1;
  width: 40%;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.3);
}
.workCard img {
  width: 90%;
}
.workCard img:hover {
  cursor: pointer;
}
.workCard > .imageBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.workCard > .imageBox > img {
  position: absolute;
  box-shadow: 0 0 10px var(--shadow);
  border-radius: 5px;
  z-index: -2;
}
.workCard > .imageBox > img:nth-child(2) {
  scale: 0.5;
  z-index: -1;
  transform: translateX(60%) translateY(-100%);
}
.workCard > .imageBox > img:nth-child(3) {
  scale: 0.5;
  z-index: -1;
  transform: translateX(-60%) translateY(100%);
}
.workCard > .imageBox > img.mobileimage {
  height: 250px;
  width: auto;
  transform: translateX(150%) translateY(50%);
}
.workCard > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: flex-start;
  height: 50%;
  padding: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
}
.workCard > .imageBox {
  /* background: var(--secondary); */
}
.workInfo {
  display: flex;
  justify-content: flex-end;
}
.workInfo > button {
  width: 100%;
}
.workInfo>h3,.codeLanguage{
  font-size: 1.5em;
  background: linear-gradient(to right, var(--primary), var(--secondary),var(--hightlight));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.codeLanguage{
  background: linear-gradient(-45deg, var(--secondary),var(--hightlight));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1em;
}
/* workSection */

/* contsact Section */
.contactSection {
  flex-direction: column;
}
/* contsact Section */

/* Mobile Adjustments */
@media only screen and (max-width: 1000px) {
  .mainSection {
    flex-direction: column;
  }

  .mainSection > * {
    width: 100%;
    height: 50%;
  }

  .mainSection::after,
  .mainSection::before {
    inset: -20% -20%;
    width: 100%;
  }

  .introText {
    padding: 0 50px;
  }

  .imageContainer {
    flex-direction: column;
    justify-content: flex-end;
  }

  .imageContainer > .image > ion-icon {
    font-size: 1.5em;
  }

  .imageContainer > .image > ion-icon:nth-child(1) {
    font-size: 2em;
  }

  .navLinkBox {
    backdrop-filter: blur(10px);
  }

  .navLinkBoxOpen {
    width: 150dvw;
  }

  .aboutMeSection {
    flex-direction: column;
    padding: 10px;
  }
  .aboutMeSection > div {
    height: 33.3%;
    border: 0.2px solid rgba(255, 255, 255, 0.1);
  }
  .aboutMeSection > div > * {
    opacity: 0.05;
  }
  .aboutMeSection > div:nth-child(1) {
    border: 0.2px solid var(--hightlight);
  }
  .aboutMeSection > div:nth-child(2) {
    border: 0.2px solid var(--secondary);
  }
  .aboutMeSection > div:nth-child(3) {
    border: 0.2px solid var(--primary);
  }
  .aboutMeSection > div:hover {
    height: 250%;
    background: transparent;
  }
  .introBox > .textContainer > p {
    font-size: 1em;
  }
  .image2 > span {
    font-size: 0.8em;
  }
  .experienceBox > .experiences > p > span {
    font-size: 0.9em;
  }
  .experienceBox > .experiences > p > small {
    font-size: 0.8em;
  }
  .experienceBox > h1,
  .skillBox > h1 {
    margin-top: 25px;
  }
  .myWorksSection {
    display: block;
  }
  .workCard {
    width: 100%;
  }
  .workCard:hover {
    width: 100%;
  }
}

/* Mobile Adjustments */

/* Desktop adjustments */
@media screen and (min-width: 1500px) {
  /* Your styles go here */
  *{font-size: 1.05em;}
  .myWorksSection{
    font-size: 0.9em;
  }
  .workCard:hover {
    font-size: 1.2em;
  }
}
/* Desktop adjustments */
